@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;700;800&family=Montserrat:wght@300;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --focus-border: #007fd4;
    --separator-border: #838383;
}

* {
    font-family: "Archivo", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply bg-background;
}

.styled-button {
    @apply border-dark border-[2px] px-4 py-2 bg-button text-white hover:bg-buttonShadow shadow-3xl hover:shadow-disabled enabled:focus:rounded-none enabled:focus:bg-buttonShadow;
}

.styled-input {
    @apply border border-dark/75 text-gray-900 focus:border-dark block w-full p-2 md:p-3 col-span-8;
}

.background {
    @apply bg-repeat;
    background-image: url(./assets/bg.png);
}

.primary-form {
    @apply px-5 md:px-10 border-dark border-2 mb-5 mx-auto gap-1 md:gap-3 pb-10 w-full lg:w-[70%] grid grid-cols-3 bg-white shadow-4xl;
}
.title {
    @apply text-center font-bold text-2xl lg:text-4xl p-5 lg:p-10;
}

.pChuong {
    text-align: center;
    font-weight: bold;
    font-size: 16;
}
.pDieu {
    font-weight: bold;
    font-size: 14;
}
.pGhiChu {
    font-style: italic;
    font-size: 14;
}
.pNoiDung {
    font-size: 14;
}
.pGhiChu a,
.pDieu a {
    color: Green;
    font-style: oblique;
    cursor: pointer;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
